header, footer{
    color: white;
    background-color: #333a40;
    padding: 20px 10px;
}
html{
    background: #f7f7f7;
}
body{
    font-family: 'Bralow', sans-serif;
    background: white;
    /* max-width: 80vw; */
    margin: 0 auto;
    color: rgb(49, 46, 46);
    text-align: center;
}
input[type="search"]{
    width: 100%;

}
.product{
    box-sizing: border-box;
    border: 1px solid gray;
    /* width: 25%; */
    margin: 5px;
    padding: 5px;
    /* display: inline-block; */
    width: 100%;
    text-align: center;
}
img{
    max-width: 100%;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    line-height: 30px;
}
header li{
    display: inline;
}
header h1, nav{
    display: inline-block;
}
header h1{
    /* width: 70%; */
    width: 100%;
}
.button{
    padding: 8px;
    display: inline-block;
}
a{
    text-decoration: none;
    color: inherit;

}
a:hover{
    color: #0e69e9;
}
.button:last-of-type{
    background: #0e69e9;
    color: white;
}
@media (min-width: 800px){
    input[type="search"]{
        width: 40%;
        margin-left: 2em;
    }
    .product{
        display: inline-block;
        width: 48%;
    }

}
@media (min-width:1000px){
    body{
        text-align: left;
    }
    header h1{
        width: 60%;
    }
    main{
        width: 68%;
        display: inline-block;
        padding: 10px;
    }
    aside{
        width: 27%;
        display: inline-block;
        vertical-align: top;
        padding: 10px;
    }
}
@media (min-width:1200px){
    body{
        max-width: 80vw;
    }
    .product{
        width: 30%;
    }
    input[type="search"]{
        width:20%;
    }
}
/* Product detail page */
.product-detail{
    width: 550px;
}
.product-detail img{
    max-width: 50%;
    float: left;
}
table{
   width: 400px;
   text-align: left;
   margin: 20px 0;

}
caption{
    font-weight: bold;
    font-style: italic;
    border-bottom: 1px dotted;
    padding: 10px;
}
th, td{
    padding: 10px;
}
th:hover, td:hover{
    color: #0e69e9;
}
 
tr:hover{
    background-color: #f1f1f1;
} 
/* contact us page */
form{
    padding: 10px;
    margin: 10px 0;
    width: 600px;

}

.inline label{
    display: inline-block;
    width:100px ;
}
input[type="text"], input[type="email"], textarea {
    padding: 10px;
    width:400px ;
}
form>div{
    margin: 10px 0;
}
#h2_pd{
    padding: 0 5px;
}