header, footer{
    color: white;
    background-color: #333a40;
    padding: 20px 10px;
}
html{
    background: #f7f7f7;
}
body{
    font-family: 'Bralow', sans-serif;
    background: white;
    max-width: 85%;
    margin: 0 auto;
    color: rgb(49, 46, 46);
}
.product{
    box-sizing: border-box;
    border: 1px solid gray;
    width: 200px;
    margin: 5px;
    padding: 5px;
    display: inline-block;
    text-align: center;
}
img{
    max-width: 100%;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    line-height: 30px;
}
header li{
    display: inline;
}
header h1, nav{
    display: inline-block;
}
header h1{
    width: 70%;
}
main{
    width: 680px;
    display: inline-block;
    padding: 10px;
}
aside{
    width: 270px;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}
.button{
    padding: 8px;
    display: inline-block;
}
a{
    text-decoration: none;
    color: inherit;

}
a:hover{
    color: #0e69e9;
}
.button:last-of-type{
    background: #0e69e9;
    color: white;
}
/* Product detail page */
.product-detail{
    width: 550px;
}
.product-detail img{
    max-width: 50%;
    float: left;
}
table{
   width: 400px;
   text-align: left;
   margin: 20px 0;

}
caption{
    font-weight: bold;
    font-style: italic;
    border-bottom: 1px dotted;
    padding: 10px;
}
th, td{
    padding: 10px;
}
th:hover, td:hover{
    color: #0e69e9;
}
 
tr:hover{
    background-color: #f1f1f1;
} 
/* contact us page */
form{
    padding: 10px;
    margin: 10px 0;
    width: 600px;

}

.inline label{
    display: inline-block;
    width:100px ;
}
input[type="text"], input[type="email"], textarea {
    padding: 10px;
    width:400px ;
}
form>div{
    margin: 10px 0;
}